[MASTER]
ignore=.venv
persistent=yes

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    C0301,  # line-too-long
    C0411,  # wrong-import-order (let isort handle this)
    W0611,  # unused-import
    R0903   # too-few-public-methods
    disable=W1203

[FORMAT]
max-line-length=120
