/******* Customized Bootstrap ********/

$primary: #f77f00;
$secondary: #d62828;
$tertiary: #646369;
$light: #e8e7e5;
$body-color: #003049;
$text-muted: #4e636f;
$info: #879196;

$dark: $body-color;

$link-color: $body-color;
$navbar-light-color: $body-color;
$navbar-light-hover-color: $primary;
$link-hover-color: $primary;

$icon-link-icon-transform: translate3d(-0.25em, 0, 0);

/** font **/
@font-face {
    font-family: 'glacial-indifference';
    src: url('../fonts/glacial-indifference.regular.otf') format('opentype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'glacial-indifference';
    src: url('../fonts/glacial-indifference.bold.otf') format('opentype');
    font-weight: bold;
    font-display: swap;
}

$font-family-base: 'glacial-indifference';


@import "bootstrap/scss/bootstrap";
