{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


<div class=" d-flex px-5 flex-wrap align-middle gap-5">
    <div class="card p-5 mx-auto gap-2 d-flex" style="width: 35rem;">
        <h4 class="fw-bold">Login to BookEZ</h4>
        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            <label for="username" class="form-label">Username</label>
            <div class="input-group mb-3">
                {{ form.username(
                class_="form-control border border-primary",
                placeholder="username",
                id="username"
                ) }}
            </div>
            <label for="password" class="form-label">Password</label>
            <div class="input-group mb-3">
                {{ form.password(
                class_="form-control border border-primary",
                placeholder="password",
                id="password"
                ) }}
            </div>
            <div class="row d-flex">
                <div class="col me-auto">
                    <button type="submit" name="{{ form.submit.name }}"
                        class="btn btn-primary mt-3 me-auto" style="width: 10rem; display: flex;">
                        Login
                        <i class="bi bi-arrow-right ms-2"></i>
                    </button>
                </div>
                <div class="col ms-auto">
                    <a href="/register" style="width: 10rem; display: flex;"
                        class="btn btn-outline-primary mt-3 ms-auto" name="register">
                        Register
                        <i class="bi bi-arrow-right ms-auto"></i>
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>
</div>



{% endblock %}
