{% extends 'base.html' %}

{% block title %}Booking Details{% endblock %}

{% block content %}
<div class="container-fluid px-5 d-flex flex-wrap">
    <p class="text-dark fw-bold fs-6 mb-2 w-100 ms-4">Book a room</p>
    <a class="text-dark fs-6 text-decoration-underline ms-3">
        <i class="bi bi-geo-alt-fill me-1"></i>
        Conestoga College, Waterloo
    </a>
    <a class="text-dark fs-6 text-decoration-underline ms-auto">
        <i class="bi bi-calendar-week me-1"></i>
        January 1st, 2026 <!-- vanilla datepicker bullshit -->
    </a>
</div>

<div class="container-fluid px-5 d-flex flex-wrap mt-5">
    <p class="text-dark fw-bold fs-5 mb-2 ms-4">3G15 - West Wing</p> <!-- passed param, hard coded for now -->
    <p class="text-muted fs-5 me-3 ms-3 mb-0">
        <i class="bi bi-people-fill text-muted"></i>
        4
    </p>
</div>

<div class="px-5 d-flex" style="width: 75rem;">
    <p class="text-muted fs-6 mb-2 ms-4">"Meeting name"</p> <!-- passed param, hard coded for now -->
    <button type="button" class="btn btn-outline-primary text-decoration-none ms-auto align-top" name="share">
        <i class="bi bi-link-45deg">
            Share
        </i>
</div>

<div class="row">
    <div class="col">
        <div class="container-fluid px-5 d-flex flex-wrap">
            <div class="card border-0 mt-1" style="width: 70rem;">
                <div class="card-body">

                    <h5 class="text-center mb-3">January 1st, 2026</h5>

                    <div class="table-wrapper rounded overflow-hidden border">
                        <div class="table-responsive">
                            <table class="table table-bordered align-middle text-center">

                                <thead class="table-light">
                                    <tr>
                                        <th style="width: 120px;">Time</th>
                                        <th>Bookings</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <td>8:00 AM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>9:00 AM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>10:00 AM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">11:00 AM</td>
                                        <td class="bg-primary text-white">
                                            Room Booked<br>
                                            11:00 – 1:00
                                            <!-- TODO: hard coded but needs some jinja code to mark itself as booked-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">12:00 PM</td>
                                        <td class="bg-primary text-white">
                                            Room Booked<br>
                                            11:00 – 1:00
                                            <!-- also differentiate between booked time belonging to meeting id, and otherwise (with colours)-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1:00 PM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2:00 PM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>3:00 PM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>4:00 PM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>5:00 PM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>6:00 PM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>7:00 PM</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>8:00 PM</td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col ms-auto">
        <!-- spacing bc im a lazy fuck -->
        <br>
        <br>
        <br>
        <p class="text-muted fs-6"> Attending Members (3/4)</p>
        <ul class="gap-4 list-unstyled fs-6">
            <li class="fw-bold  mb-2">
                <i class="bi bi-award-fill mb-3"></i> Name
            </li>
            <li class=" mb-2">
                <i class="bi bi-award-fill opacity-0 "></i> Name
            </li>
            <li class=" mb-2">
                <i class="bi bi-award-fill opacity-0"></i> Name
            </li>
        </ul>
        <!-- jinja if not logged in-->
        <button type="button" href="/rsvp" class="btn btn-outline-primary w-75 text-start d-flex fs-6">
            RSVP
            <i class="bi bi-plus-circle ms-auto"></i>
        </button>
    </div>
</div>


{% endblock %}