{% extends 'base.html' %}

{% block title %}RSVP{% endblock %}

{% block content %}
<div class="container-fluid px-5 d-flex flex-wrap">
    <p class="text-dark fw-bold fs-6 mb-2 w-100 ms-4">RSVP to a meeting</p>
    <a class="text-dark fs-6 text-decoration-underline ms-3">
        <i class="bi bi-geo-alt-fill me-1"></i>
        Conestoga College, Waterloo
    </a>
    <a class="text-dark fs-6 text-decoration-underline ms-auto">
        <i class="bi bi-calendar-week me-1"></i>
        January 1st, 2026 <!-- vanilla datepicker bullshit -->
    </a>
</div>

<div class="container-fluid px-5 d-flex flex-wrap mt-5">
    <p class="text-dark fw-bold fs-5 mb-2 ms-4">3G15 - West Wing</p> <!-- passed param, hard coded for now -->
    <p class="text-muted fs-5 me-3 ms-3 mb-0">
        <i class="bi bi-people-fill text-muted"></i>
        4
    </p>
    <p class="text-dark fw-bold fs-5 mb-2 ms-4 ms-auto w-50">
        08:00 - 20:00
    </p> <!-- passed param, hard coded for now -->
</div>

<div class="container-fluid px-5 d-flex flex-wrap">
    <p class="text-muted fs-6 mb-2 ms-4">"Meeting name"</p>
    <!-- passed param, hard coded for now -->
</div>

<div class="container-fluid px-5 d-flex flex-wrap">
    <div class="card px-3 mt-3" style="width: 53rem;">
        <div class="card-body">
            <label for="guestName" class="form-label">Enter your name</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Name..." aria-label="Guest Name"
                    aria-describedby="basic-addon1" id="guestName" name="guest_name">
            </div>
            <label for="guestEmail" class="form-label">Enter your email</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="email@email.com" aria-label="Guest Email"
                    aria-describedby="basic-addon1" id="guestEmail" name="guest_email">
            </div>
            <!-- HREF MUST BE FIXED W PARAMS-->
            <button type="submit" href="/meetingdebug" class="btn btn-primary w-25 mt-4 d-flex" name="submit">
                RSVP
                <i class="bi bi-plus-circle ms-auto"></i>
            </button>
        </div>
    </div>
</div>

{% endblock %}
